<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8" />
<title>overflow_CSS参考手册_web前端开发参考手册系列</title>
<meta name="author" content="Joy Du(飘零雾雨), dooyoe@gmail.com" />
<meta name="copyright" content="www.doyoe.com" />
<style>
.test{overflow:visible;width:200px;height:100px;background:#eee;}
.test{overflow:hidden;width:200px;height:100px;background:#eee;}
.test{overflow:scroll;width:200px;height:100px;background:#eee;}
.test{overflow:auto;width:200px;height:100px;background:#eee;}
</style>
</head>
<body>
<div class="test">
	<p>苏打速度</p>
	<p>苏打速度</p>
	<p>苏打速度</p>
	<p>苏打速度</p>
	<p>苏打速度</p>
</div>
</body>
</html>
			